* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: rgb(222, 222, 132);
  padding: 0 20px;
  margin: 0;
  margin-bottom: 10px;
}

.nav-link ul {
  list-style: none;
  display: flex;
  li {
    margin: 0 10px;
    font-weight: 500;
    cursor: pointer;
  }
  li:hover {
    color: rgb(187, 42, 42);
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
  height: auto;
  margin: 10px;
}

.description {
  font-size: large;
  padding: 10px;
  margin: 10px;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  background-color: #80d5e6b0;
  width: 100%;
}

.text-inside {
  font-size: 1.5rem ;
  text-align: center;
  width: 100%;
}
.text-inside2 {
  font-size: 1rem ;
  text-align: center;
  width: 100%;
}
/* General styling for grid items */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  color: black;
  border-radius: 8px;
  padding: 10px;
}
